{% extends "stock_blog/base.html" %}

{% block content %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <h1>Ticker: {{symbol}}</h1>
  <!-- Plotly chart will be drawn inside this div -->
  <div id="plotly-div"></div>
  <script>

    var index = {{index}};
    for (item in index){
      item = new Date(item.isoformat);
    }
    index.sort(function(a,b){
      // Turn your strings into dates, and then subtract them
      // to get a value that is either negative, positive, or zero.
      return new Date(b.date) - new Date(a.date);
    });

    var trace1 = {
      x: index,
      close: {{close}},
      decreasing: {line: {color: '#7F7F7F'}},
      high: {{high}},
      increasing: {line: {color: '#17BECF'}},
      line: {color: 'rgba(31,119,180,1)'},
      low: {{low}},
      open: {{open}},
      type: 'candlestick',
      xaxis: 'x',
      yaxis: 'y'
    };

    var data = [trace1];

    var layout = {
      dragmode: 'zoom',
      margin: {
        r: 10,
        t: 25,
        b: 40,
        l: 60
      },
      showlegend: false,
      xaxis: {
        autorange: true,
        domain: [0, 1],
        range: [index[index.length-1], [index[0]]],
        title: 'Date',
        type: 'date'
      },
      yaxis: {
        autorange: true,
        domain: [0, 1],
        range: [0, 100],
        type: 'linear'
      }
    };

    Plotly.plot('plotly-div', data, layout, {showSendToCloud: true});
  </script>

{% endblock content %}
