{% extends "stock_blog/base.html" %}

{% block content %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <h1>Ticker: {{symbol}}</h1>
  <!-- Plotly chart will be drawn inside this div -->
  <div id="plotly-div"></div>
  <script type="text/javascript">

    var index = {{payload|safe}};

    var dates = [];
    var open = [];
    var high = [];
    var low = [];
    var close = [];
    var volume = [];

    Object.keys(index).forEach(function(key){
      dates.push(key);
      open.push(index[key].open);
      high.push(index[key].high);
      low.push(index[key].low);
      close.push(index[key].close);
      volume.push(index[key].volume);
    });


    Object.keys(dates).forEach(function filterOutWeekend(ts){
      var date = new Date(ts);
      var day = date.getDay();
      console.log(day);
      return (day === 0 || day === 6) ? null : ts;
    });


    var trace1 = {
      x: dates,
      close: close,
      decreasing: {line: {color: '#FF0000'}},
      high: high,
      increasing: {line: {color: '#228B22'}},
      line: {color: 'rgba(31,119,180,1)'},
      low: low,
      open: open,
      type: 'candlestick',
      xaxis: 'x',
      yaxis: 'y'
    };

    var data = [trace1];

    var layout = {
      dragmode: 'zoom',
      margin: {
        r: 10,
        t: 25,
        b: 40,
        l: 60
      },
      showlegend: false,
      xaxis: {
        autorange: true,
        domain: [0, 1],
        title: 'Date',
        type: 'category',
        showticklabels: false
      },
      yaxis: {
        autorange: true,
        domain: [0, 1],
        range: [0, 100],
        type: 'linear',
        title: 'Price'
      }
    };

    Plotly.plot('plotly-div', data, layout, {showSendToCloud: true});
  </script>

{% endblock content %}
